<!doctype html>

<html lang="en">

<!-- Head {{{1 -->
<head>
  <!-- Meta tags {{{2 -->
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="&&">
  <meta name="keywords" content="&&">
  <!-- Meta tags }}}2 -->
  <!-- Open Graph Protocol: https://ogp.me/ {{{2 -->
  <meta property="og:title" content="&&">
  <meta property="og:url" content="http://&&">
  <meta property="og:description" content="&&">
  <meta property="og:image" content="&&"> <meta name="author" content="&&">
  <!-- Open Graph Protocol: }}} -->
  <!-- Link, base, etc. {{{2 -->
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link rel="icon" href="images/favicon.png">
  <base href="https://&&">
  <link rel="canonical" href="https://&&" />
  <!-- Link, base, etc. }}} -->
  <title></title>
  <style type=text/css>body { max-width: 800px; margin: auto; }</style>
</head>
<!-- Head }}} -->

<!-- Body {{{1 -->
<body>

  <!-- Header {{{2 -->
  <header>
      <!-- Navigation {{{3 -->
      <nav>
          <ul>
              <li></li>
          </ul>
      </nav>
      <!-- Navigation }}} -->
  </header>
  <!-- Header }}} -->
  
  <!-- Main {{{2 -->
  <main>
      
      <!-- Article {{{3 -->
      <article>

      </article>
      <!-- Article }}} -->

  </main>
  <!-- Main }}} -->

  <script src="js/scripts.js"></script>
</body>
</html>
<!-- Body }}} -->

