/* For styling the rendered Markdown */
h1, h2, h3, h4, h5, h6 {
    color: #2aa198;
    font-family: sans-serif;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 21pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 9pt;
}

h6 {
    font-size: 7pt;
}

body {
    font-size: 16pt;
    font-family: Georgia, "Times New Roman", serif;
}
